.dropDown {
    display: flex;
    justify-content: center;
}

.dropDown__block {
    display: flex;
    align-items: center;
    margin-right: 30px;
    margin-left: 10px;
}

.dropDown__title {
    margin-right: 10px;
    white-space: nowrap;
}

.selectBlock {
    cursor: pointer;
}
