.wraper__oneBook {
    background: no-repeat url("../../Img/fon.jpg");
    background-position: center;
}

.oneBook {
    margin-top: 100px;
}


.oneBook__block__img {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.oneBook__img {
    width: 400px;
    height: 600px;     
    
}

.oneBook__blockSecond {
    margin-top: 20px;
    margin-left: 20px
}

.oneBook__title {
    margin-bottom: 3em;
    margin-top: 1em;
}

.oneBook__info__block {
    margin-top: 10px;
    display: flex;    
}

.title__criterion {
    margin-right: 5px;
}

.oneBook__description {
    margin-top: 20px;    
    padding: 10px;
    margin-bottom: 20px;    
    overflow: hidden;     
}

.oneBook__pageCount {
    margin-top: 10px;
}

@media screen and (max-width: 1199px) {
    .oneBook {
        margin-top: 100px;
        background-color: rgb(134, 150, 194);
    }   
}

