.title {
    margin: 20px;
}

.block__cards {
    display: flex;
    flex-wrap: wrap;
}

.search__input {
    margin-bottom: 10px;    
}

.cards {
    width: 18rem;
    margin: 1rem;
}

.button__leadMore {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
}