.title {
    margin: 20px;
}



.search__input {
    margin-bottom: 10px;  
    position: relative;  
}

.search__button {
    position: absolute;
    right: 0;
    top: 0
}


.button__leadMore {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
}